.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.989000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.041000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.981000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.973000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.959000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.728000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-4.360000px;}
._2{margin-left:-3.312000px;}
._1{margin-left:-2.160000px;}
._0{margin-left:-1.080000px;}
._6{width:1.128000px;}
._5{width:2.592000px;}
._8{width:14.240000px;}
._b{width:28.320000px;}
._a{width:55.880000px;}
._4{width:71.999825px;}
._d{width:75.920001px;}
._c{width:87.640001px;}
._7{width:162.520001px;}
._9{width:181.000001px;}
.fc4{color:rgb(87,133,68);}
.fc0{color:rgb(91,136,71);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(255,255,255);}
.fc5{color:rgb(250,250,250);}
.fc3{color:rgb(141,71,173);}
.fs4{font-size:40.000000px;}
.fs1{font-size:44.000002px;}
.fs2{font-size:48.000002px;}
.fs6{font-size:52.000004px;}
.fs3{font-size:56.000000px;}
.fs9{font-size:60.000002px;}
.fs8{font-size:64.000004px;}
.fs0{font-size:72.000002px;}
.fs7{font-size:84.000003px;}
.fs5{font-size:96.000003px;}
.fsa{font-size:152.000009px;}
.y0{bottom:0.000000px;}
.y6{bottom:27.451728px;}
.y5{bottom:38.188968px;}
.y35{bottom:63.530539px;}
.y3a{bottom:67.934107px;}
.y34{bottom:77.030540px;}
.y39{bottom:81.434108px;}
.y16{bottom:86.039750px;}
.y53{bottom:88.185046px;}
.y55{bottom:89.808665px;}
.y33{bottom:90.530540px;}
.y54{bottom:94.221965px;}
.y38{bottom:94.934108px;}
.y67{bottom:95.376365px;}
.y15{bottom:98.039750px;}
.y19{bottom:100.289750px;}
.y32{bottom:104.030540px;}
.y5e{bottom:107.376365px;}
.y68{bottom:108.288966px;}
.y37{bottom:108.434110px;}
.y63{bottom:109.027933px;}
.y14{bottom:110.039751px;}
.y18{bottom:112.289751px;}
.y59{bottom:115.027933px;}
.y31{bottom:117.530541px;}
.y5d{bottom:119.376366px;}
.y62{bottom:121.027933px;}
.y36{bottom:121.934111px;}
.y13{bottom:122.039751px;}
.y17{bottom:124.289751px;}
.y4e{bottom:124.439991px;}
.y58{bottom:127.027941px;}
.y30{bottom:131.030541px;}
.y5c{bottom:131.376374px;}
.y61{bottom:133.027941px;}
.y12{bottom:134.039751px;}
.yf{bottom:136.289751px;}
.y4d{bottom:137.939991px;}
.y57{bottom:139.027940px;}
.y45{bottom:140.189992px;}
.y6f{bottom:142.902584px;}
.y5b{bottom:143.376373px;}
.y60{bottom:145.027940px;}
.y11{bottom:146.039752px;}
.ye{bottom:148.289752px;}
.y4c{bottom:151.439992px;}
.y44{bottom:153.689992px;}
.y66{bottom:155.376373px;}
.y2f{bottom:156.136140px;}
.y6e{bottom:156.402585px;}
.y3b{bottom:157.058730px;}
.yd{bottom:160.289752px;}
.y4b{bottom:164.939992px;}
.y43{bottom:167.189992px;}
.yc{bottom:172.289753px;}
.y10{bottom:172.619753px;}
.y4a{bottom:178.439993px;}
.y42{bottom:180.689993px;}
.y6d{bottom:183.402585px;}
.yb{bottom:184.289753px;}
.y5a{bottom:185.926395px;}
.y5f{bottom:187.577971px;}
.y49{bottom:191.939993px;}
.y41{bottom:194.189993px;}
.ya{bottom:196.289753px;}
.y29{bottom:198.229366px;}
.y48{bottom:205.439994px;}
.y40{bottom:207.689994px;}
.y9{bottom:208.289754px;}
.y20{bottom:208.792711px;}
.y51{bottom:209.711646px;}
.y50{bottom:209.762497px;}
.y6c{bottom:210.402586px;}
.y28{bottom:211.729366px;}
.y52{bottom:212.302891px;}
.y2e{bottom:218.563344px;}
.y47{bottom:218.939994px;}
.y1f{bottom:220.792712px;}
.y3f{bottom:221.189994px;}
.y27{bottom:225.229367px;}
.y2d{bottom:232.063344px;}
.y8{bottom:232.619754px;}
.y1e{bottom:232.792712px;}
.y3e{bottom:234.689995px;}
.y6b{bottom:237.402587px;}
.y26{bottom:238.729367px;}
.y65{bottom:240.644726px;}
.y1d{bottom:244.792712px;}
.y2c{bottom:245.563345px;}
.y46{bottom:246.269995px;}
.y25{bottom:252.229368px;}
.y1c{bottom:256.792713px;}
.y2b{bottom:259.063345px;}
.y64{bottom:259.844725px;}
.y3d{bottom:262.019995px;}
.y6a{bottom:264.402588px;}
.y24{bottom:265.729368px;}
.y1b{bottom:268.792713px;}
.y2a{bottom:272.563346px;}
.y4{bottom:278.809087px;}
.y23{bottom:287.924719px;}
.y22{bottom:290.755429px;}
.y3{bottom:293.809087px;}
.y1a{bottom:295.372714px;}
.y69{bottom:303.010159px;}
.y7{bottom:304.339095px;}
.y2{bottom:308.809088px;}
.y4f{bottom:319.416768px;}
.y1{bottom:326.839088px;}
.y21{bottom:332.969998px;}
.y56{bottom:339.780600px;}
.y3c{bottom:339.780763px;}
.h8{height:29.140625px;}
.hf{height:30.280000px;}
.ha{height:32.054689px;}
.h14{height:33.308002px;}
.h6{height:33.680000px;}
.h7{height:34.945314px;}
.h2{height:37.048002px;}
.h3{height:37.488001px;}
.h5{height:37.776001px;}
.he{height:37.857425px;}
.hc{height:40.924003px;}
.h4{height:44.072000px;}
.h12{height:46.860001px;}
.h11{height:49.408003px;}
.h9{height:55.584002px;}
.h1{height:56.664002px;}
.hd{height:66.108002px;}
.h10{height:68.544002px;}
.hb{height:75.552002px;}
.h13{height:119.624007px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x2{left:27.783781px;}
.xc{left:47.694882px;}
.x7{left:54.750002px;}
.x1{left:62.163387px;}
.x1c{left:64.368298px;}
.xa{left:66.336613px;}
.x9{left:73.834742px;}
.x1d{left:80.508376px;}
.xd{left:83.539372px;}
.x6{left:86.224413px;}
.x10{left:89.033470px;}
.x4{left:110.224414px;}
.x24{left:123.152726px;}
.x11{left:126.750004px;}
.x25{left:224.741140px;}
.x16{left:239.659388px;}
.x1e{left:245.502546px;}
.x1f{left:265.601821px;}
.xe{left:271.931109px;}
.x17{left:277.252659px;}
.x15{left:291.646029px;}
.x13{left:294.205937px;}
.xb{left:350.187011px;}
.x8{left:351.572111px;}
.x5{left:366.629937px;}
.x26{left:377.938992px;}
.x20{left:392.293345px;}
.x18{left:396.684965px;}
.x27{left:398.039413px;}
.x21{left:414.368016px;}
.x19{left:434.278664px;}
.x12{left:452.182814px;}
.x14{left:453.888015px;}
.xf{left:460.322865px;}
.x22{left:552.499244px;}
.x1a{left:553.771593px;}
.x23{left:563.624595px;}
.x1b{left:591.365119px;}
.x3{left:638.196875px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-5.813333pt;}
._2{margin-left:-4.416000pt;}
._1{margin-left:-2.880000pt;}
._0{margin-left:-1.440000pt;}
._6{width:1.504000pt;}
._5{width:3.456000pt;}
._8{width:18.986667pt;}
._b{width:37.760000pt;}
._a{width:74.506667pt;}
._4{width:95.999767pt;}
._d{width:101.226667pt;}
._c{width:116.853334pt;}
._7{width:216.693335pt;}
._9{width:241.333335pt;}
.fs4{font-size:53.333334pt;}
.fs1{font-size:58.666670pt;}
.fs2{font-size:64.000002pt;}
.fs6{font-size:69.333338pt;}
.fs3{font-size:74.666666pt;}
.fs9{font-size:80.000003pt;}
.fs8{font-size:85.333339pt;}
.fs0{font-size:96.000003pt;}
.fs7{font-size:112.000004pt;}
.fs5{font-size:128.000004pt;}
.fsa{font-size:202.666678pt;}
.y0{bottom:0.000000pt;}
.y6{bottom:36.602304pt;}
.y5{bottom:50.918624pt;}
.y35{bottom:84.707385pt;}
.y3a{bottom:90.578810pt;}
.y34{bottom:102.707386pt;}
.y39{bottom:108.578810pt;}
.y16{bottom:114.719666pt;}
.y53{bottom:117.580061pt;}
.y55{bottom:119.744887pt;}
.y33{bottom:120.707387pt;}
.y54{bottom:125.629287pt;}
.y38{bottom:126.578811pt;}
.y67{bottom:127.168487pt;}
.y15{bottom:130.719667pt;}
.y19{bottom:133.719667pt;}
.y32{bottom:138.707387pt;}
.y5e{bottom:143.168487pt;}
.y68{bottom:144.385288pt;}
.y37{bottom:144.578813pt;}
.y63{bottom:145.370577pt;}
.y14{bottom:146.719667pt;}
.y18{bottom:149.719668pt;}
.y59{bottom:153.370578pt;}
.y31{bottom:156.707388pt;}
.y5d{bottom:159.168488pt;}
.y62{bottom:161.370578pt;}
.y36{bottom:162.578815pt;}
.y13{bottom:162.719668pt;}
.y17{bottom:165.719668pt;}
.y4e{bottom:165.919988pt;}
.y58{bottom:169.370588pt;}
.y30{bottom:174.707388pt;}
.y5c{bottom:175.168498pt;}
.y61{bottom:177.370588pt;}
.y12{bottom:178.719668pt;}
.yf{bottom:181.719669pt;}
.y4d{bottom:183.919989pt;}
.y57{bottom:185.370587pt;}
.y45{bottom:186.919989pt;}
.y6f{bottom:190.536779pt;}
.y5b{bottom:191.168497pt;}
.y60{bottom:193.370587pt;}
.y11{bottom:194.719669pt;}
.ye{bottom:197.719669pt;}
.y4c{bottom:201.919989pt;}
.y44{bottom:204.919989pt;}
.y66{bottom:207.168497pt;}
.y2f{bottom:208.181519pt;}
.y6e{bottom:208.536779pt;}
.y3b{bottom:209.411639pt;}
.yd{bottom:213.719670pt;}
.y4b{bottom:219.919990pt;}
.y43{bottom:222.919990pt;}
.yc{bottom:229.719670pt;}
.y10{bottom:230.159670pt;}
.y4a{bottom:237.919990pt;}
.y42{bottom:240.919990pt;}
.y6d{bottom:244.536781pt;}
.yb{bottom:245.719671pt;}
.y5a{bottom:247.901861pt;}
.y5f{bottom:250.103961pt;}
.y49{bottom:255.919991pt;}
.y41{bottom:258.919991pt;}
.ya{bottom:261.719671pt;}
.y29{bottom:264.305821pt;}
.y48{bottom:273.919991pt;}
.y40{bottom:276.919992pt;}
.y9{bottom:277.719672pt;}
.y20{bottom:278.390282pt;}
.y51{bottom:279.615528pt;}
.y50{bottom:279.683329pt;}
.y6c{bottom:280.536782pt;}
.y28{bottom:282.305822pt;}
.y52{bottom:283.070522pt;}
.y2e{bottom:291.417792pt;}
.y47{bottom:291.919992pt;}
.y1f{bottom:294.390282pt;}
.y3f{bottom:294.919992pt;}
.y27{bottom:300.305822pt;}
.y2d{bottom:309.417793pt;}
.y8{bottom:310.159673pt;}
.y1e{bottom:310.390283pt;}
.y3e{bottom:312.919993pt;}
.y6b{bottom:316.536783pt;}
.y26{bottom:318.305823pt;}
.y65{bottom:320.859635pt;}
.y1d{bottom:326.390283pt;}
.y2c{bottom:327.417793pt;}
.y46{bottom:328.359993pt;}
.y25{bottom:336.305823pt;}
.y1c{bottom:342.390284pt;}
.y2b{bottom:345.417794pt;}
.y64{bottom:346.459634pt;}
.y3d{bottom:349.359994pt;}
.y6a{bottom:352.536784pt;}
.y24{bottom:354.305824pt;}
.y1b{bottom:358.390284pt;}
.y2a{bottom:363.417794pt;}
.y4{bottom:371.745449pt;}
.y23{bottom:383.899625pt;}
.y22{bottom:387.673905pt;}
.y3{bottom:391.745450pt;}
.y1a{bottom:393.830285pt;}
.y69{bottom:404.013546pt;}
.y7{bottom:405.785460pt;}
.y2{bottom:411.745450pt;}
.y4f{bottom:425.889024pt;}
.y1{bottom:435.785451pt;}
.y21{bottom:443.959997pt;}
.y56{bottom:453.040800pt;}
.y3c{bottom:453.041017pt;}
.h8{height:38.854167pt;}
.hf{height:40.373334pt;}
.ha{height:42.739586pt;}
.h14{height:44.410669pt;}
.h6{height:44.906667pt;}
.h7{height:46.593751pt;}
.h2{height:49.397336pt;}
.h3{height:49.984002pt;}
.h5{height:50.368002pt;}
.he{height:50.476566pt;}
.hc{height:54.565337pt;}
.h4{height:58.762666pt;}
.h12{height:62.480002pt;}
.h11{height:65.877338pt;}
.h9{height:74.112002pt;}
.h1{height:75.552002pt;}
.hd{height:88.144003pt;}
.h10{height:91.392003pt;}
.hb{height:100.736003pt;}
.h13{height:159.498676pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x2{left:37.045041pt;}
.xc{left:63.593176pt;}
.x7{left:73.000002pt;}
.x1{left:82.884517pt;}
.x1c{left:85.824397pt;}
.xa{left:88.448817pt;}
.x9{left:98.446322pt;}
.x1d{left:107.344501pt;}
.xd{left:111.385830pt;}
.x6{left:114.965884pt;}
.x10{left:118.711294pt;}
.x4{left:146.965885pt;}
.x24{left:164.203635pt;}
.x11{left:169.000005pt;}
.x25{left:299.654854pt;}
.x16{left:319.545850pt;}
.x1e{left:327.336728pt;}
.x1f{left:354.135761pt;}
.xe{left:362.574812pt;}
.x17{left:369.670212pt;}
.x15{left:388.861372pt;}
.x13{left:392.274583pt;}
.xb{left:466.916015pt;}
.x8{left:468.762815pt;}
.x5{left:488.839916pt;}
.x26{left:503.918656pt;}
.x20{left:523.057794pt;}
.x18{left:528.913287pt;}
.x27{left:530.719217pt;}
.x21{left:552.490688pt;}
.x19{left:579.038219pt;}
.x12{left:602.910419pt;}
.x14{left:605.184019pt;}
.xf{left:613.763820pt;}
.x22{left:736.665659pt;}
.x1a{left:738.362124pt;}
.x23{left:751.499460pt;}
.x1b{left:788.486825pt;}
.x3{left:850.929167pt;}
}
